.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 152px 0;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.time {
  display: flex;
  align-items: center;
  font-size: 200px;
  font-weight: 400;
  gap: 4px;
  height: 240px;
}

.seperator {
  line-height: 240px;
}

.digit {
  display: inline-block;
  width: 120px;
}