.wrapper {
  position: relative;
}

.settingIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.popover {
  position: absolute;
  top: 100%;
  right: 0;
}

.options {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.option {
  min-width: 120px;
  text-align: center;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 26px;
  color: var(--black-500);
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
}
